.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}
.text-field:focused {
    -fx-border-color: #ffbb03;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}